svg input:checked  {
    fill:yellow;
}
.my-label {
	display: block; margin: auto; text-align: center;">
}

.my-image:hover {
    background-color:green;
    fill:red;
}

input[type="checkbox"]:checked + .my-image {
    fill:red;
}
h1 {
    color: whitesmoke;
}
